/* class predefined */

/* CSS */

.core > .down > .chainContainer{
    height: 100%;
    display: none;
}

.core > .down > .chainContainer > .up{
    display: flex;
    flex-wrap: wrap;
    height: var(--core-down-chainContainer-up-height);
    border-bottom: 4px solid black;
}

.core > .down > .chainContainer > .up > *{
    width: 30%;
    margin: auto;
    text-align: center;
}

.core > .down > .chainContainer > .up > * > *{
    display: inline-block;
}

.core > .down > .chainContainer > .down{
    height: calc(100% - var(--core-down-chainContainer-up-height));
    overflow: auto;
}

.blockChain{
    border: 3px solid black;
    margin: 10px 0px;
}

.blockChain > .up{
    text-align: center;
}

.blockChain > .up > *{
    padding: 5px;
}

.blockChain > .up > .up > select{
    text-align: center;
    width: 100%;
    background-color: black;
    color: white;
}

.blockChain > .down > textarea{
    width: 100%;
    height: 100px;
    resize: vertical;
    padding: 5px;
}


/* INTERACTIVE */

/* MEDIA */

@media screen and (max-width: 650px){

    .core > .down > .chainContainer > .up > * > *{
        font-size: 14px;
    }

}

@media screen and (max-width: 480px){

    .core > .down > .chainContainer > .up > *{
        width: 100%;
    }

    .core > .down > .chainContainer > .up > * > *{
        display: block;
        font-size: 17px;
    }

}