/* variables */

:root {
    --core-up-height: 60px;
    --core-down-mainContainer-down-height: 60px;
}

/* new default */

textarea,input{
    box-shadow: 0 0 0 0;
    outline: 0;
}

/* class predefined */

.clickable{
    cursor: pointer;
    user-select: none;
}

.coreTab{
    margin: auto;
    border-bottom: 2px solid black;
    padding: 7px 10px;
    font-size: 25px;
}

.coreTabActive{
    border-bottom: 2px solid white;
}

/* CSS */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    background-color: rgb(59, 59, 59);
}

.core{
    width: 100%;
    height: 100%;
}

.core > .up{
    display: flex;
    width: 100%;
    height: var(--core-up-height);
    padding: 5px;
    border-bottom: 3px solid black;
}

.core > .down{
    height: calc(100% - var(--core-up-height));
}
/* INTERACTIVE */

.coreTab:hover{
    border-bottom: 2px solid white;
}

/* MEDIA */
