<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="static/css/index.css">

    <title>Text Transformation</title>
</head>
<body>

    <div class="core">
        <div class="up">
            <div class="coreTab coreTabActive" id="mainTab">Main</div>
            <div class="coreTab" id="configTab">Config</div>
            <div class="coreTab" id="chainTab">Chain</div>
        </div>
        <div class="down">

        </div>
    </div>

</body>
</html>