<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="static/css/variables.css">

    <link rel="stylesheet" href="static/css/mainContainer.css">
    <link rel="stylesheet" href="static/css/chainContainer.css">
    <link rel="stylesheet" href="static/css/configContainer.css">

    <link rel="stylesheet" href="static/css/core.css">

    <script src="static/js/socket.io.min.js"></script>

    <!-- GLOBAL -->

    <script src="static/js/taskPromptDataBase.js"></script>
    <script src="static/js/taskExamplesDataBase.js"></script>

    <script src="static/js/globalFunctions.js"></script>
    <script src="static/js/globalVariables.js"></script>
    <script src="static/js/globalClass.js"></script>

    <script type="module" src="static/js/serverController.js"></script>
    <script type="module" src="static/js/onOffController.js"></script>

    <!-- CHAIN -->
    <script src="static/js/chain/templates.js"></script>
    <script type="module" src="static/js/chain/UIController.js"></script>
    <script type="module" src="static/js/chain/chainController.js"></script>
    <script type="module" src="static/js/chain/chainNodeController.js"></script>

    <!-- CONFIG -->
    <script type="module" src="static/js/config/configBoxController.js"></script>
    <script type="module" src="static/js/config/paramBoxSliderController.js"></script>

    <!-- MAIN -->
    <script type="module" src="static/js/main/UIController.js"></script>

    <!-- CORE -->
    <script type="module" src="static/js/CORE/coreTabController.js"></script>
    <script type="module" src="static/js/CORE/containerController.js"></script>

    <script type="module" src="static/js/CORE/core.js"></script>

    <title>Text Transformation</title>
</head>
<body>

    <div class="core">
        <div class="up">
            <div class="clickable coreTab coreTabActive" id="mainTab">Main</div>
            <div class="clickable coreTab" id="configTab">Config</div>
            <div class="clickable coreTab" id="chainTab">Chain</div>
        </div>
        <div class="down">
            <div class="mainContainer" id="mainContainer">
                <div class="up">
                    <textarea id="chainInput" cols="30" rows="10" placeholder="Input"></textarea>
                    <textarea id="chainOutput" cols="30" rows="10" placeholder="Output"></textarea>
                </div>
                <div class="down">
                    <div class="clickable button" id="buttonRunChain">Run Chain</div>
                    <div class="clickable button" id="mainButtonStopChain">Stop Chain</div>
                </div>
            </div>
            <div class="configContainer" id="configContainer">
                <div class="configBox" state="closed">
                    <div class="up clickable">
                        <p>Model Parameters</p>
                    </div>
                    <div class="down" style="display: none;">
                        <div class="paramBoxSlider">
                            <div class="up">
                                <p>Max New Tokens</p>
                            </div>
                            <div class="mid">
                                <p>150</p>
                            </div>
                            <div class="down">
                                <input type="range" class="customSlider" min="1" max="2048" value="150" step="1" typeOfParam="max_tokens">
                            </div>
                        </div>
                        <div class="paramBoxSlider">
                            <div class="up">
                                <p>Temperature</p>
                            </div>
                            <div class="mid">
                                <p>0.5</p>
                            </div>
                            <div class="down">
                                <input type="range" class="customSlider" min="0.01" max="3" value="0.5" step="0.01" typeOfParam="temperature">
                            </div>
                        </div>

                        <div class="paramBoxSlider">
                            <div class="up">
                                <p>Min P</p>
                            </div>
                            <div class="mid">
                                <p>0.1</p>
                            </div>
                            <div class="down">
                                <input type="range" class="customSlider" min="0" max="1" value="0.1" step="0.01" typeOfParam="min_p">
                            </div>
                        </div>

                        <div class="paramBoxSlider">
                            <div class="up">
                                <p>TFS</p>
                            </div>
                            <div class="mid">
                                <p>1</p>
                            </div>
                            <div class="down">
                                <input type="range" class="customSlider" min="0" max="1" value="1" step="0.01" typeOfParam="tfs">
                            </div>
                        </div>
                        <div class="paramBoxSlider">
                            <div class="up">
                                <p>Top A</p>
                            </div>
                            <div class="mid">
                                <p>0.5</p>
                            </div>
                            <div class="down">
                                <input type="range" class="customSlider" min="0" max="1" value="0.5" step="0.01" typeOfParam="top_a">
                            </div>
                        </div>
                        <div class="paramBoxSlider">
                            <div class="up">
                                <p>Top P</p>
                            </div>
                            <div class="mid">
                                <p>1</p>
                            </div>
                            <div class="down">
                                <input type="range" class="customSlider" min="0.01" max="1" value="1" step="0.01" typeOfParam="top_p">
                            </div>
                        </div>
                        <div class="paramBoxSlider">
                            <div class="up">
                                <p>Top K</p>
                            </div>
                            <div class="mid">
                                <p>0</p>
                            </div>
                            <div class="down">
                                <input type="range" class="customSlider" min="0" max="200" value="0" step="1" typeOfParam="top_k">
                            </div>
                        </div>
                        <div class="paramBoxSlider">
                            <div class="up">
                                <p>Typical P</p>
                            </div>
                            <div class="mid">
                                <p>1</p>
                            </div>
                            <div class="down">
                                <input type="range" class="customSlider" min="0.01" max="1" value="1" step="0.01" typeOfParam="typical_p">
                            </div>
                        </div>
                        <div class="paramBoxSlider">
                            <div class="up">
                                <p>Repetition Penalty</p>
                            </div>
                            <div class="mid">
                                <p>1.05</p>
                            </div>
                            <div class="down">
                                <input type="range" class="customSlider" min="1" max="4" value="1.05" step="0.01" typeOfParam="repetition_penalty">
                            </div>
                        </div>
                      
                        <div class="paramBoxSlider">
                            <div class="up">
                                <p>Mirostat Mode</p>
                            </div>
                            <div class="mid">
                                <p>0</p>
                            </div>
                            <div class="down">
                                <input type="range" class="customSlider" min="0" max="2" value="0" step="1" typeOfParam="mirostat_mode">
                            </div>
                        </div>
                        <div class="paramBoxSlider">
                            <div class="up">
                                <p>Mirostat Tau</p>
                            </div>
                            <div class="mid">
                                <p>5</p>
                            </div>
                            <div class="down">
                                <input type="range" class="customSlider" min="0" max="10" value="5" step="0.01" typeOfParam="mirostat_tau">
                            </div>
                        </div>

                        <div class="paramBoxSlider">
                            <div class="up">
                                <p>Dynatemp Range</p>
                            </div>
                            <div class="mid">
                                <p>0</p>
                            </div>
                            <div class="down">
                                <input type="range" class="customSlider" min="0" max="1" value="0" step="1" typeOfParam="dynatemp_range">
                            </div>
                        </div>

                        <div class="paramBoxSlider">
                            <div class="up">
                                <p>Smoothing Factor</p>
                            </div>
                            <div class="mid">
                                <p>0</p>
                            </div>
                            <div class="down">
                                <input type="range" class="customSlider" min="0" max="100" value="0" step="0.01" typeOfParam="smoothing_factor">
                            </div>
                        </div>

                        <div class="paramBoxSlider">
                            <div class="up">
                                <p>Dynatemp Exponent</p>
                            </div>
                            <div class="mid">
                                <p>1</p>
                            </div>
                            <div class="down">
                                <input type="range" class="customSlider" min="0" max="100" value="1" step="0.01" typeOfParam="dynatemp_exponent">
                            </div>
                        </div>

                        <div class="paramBoxSlider w100">
                            <div class="up">
                                <p>Max Prompt Length - In Tokens</p>
                            </div>
                            <div class="mid">
                                <p>8192</p>
                            </div>
                            <div class="down">
                                <input type="range" class="customSlider" min="128" max="131072" value="8192" step="64" typeOfParam="max_context_length">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="chainContainer" id="chainContainer">
                <div class="up">
                    <div>
                        <div class="clickable button" id="buttonAddBlockChain">Add Block Chain</div>
                    </div>
                    <div>
                        <div class="clickable button" id="chainButtonStopChain">Stop Chain</div>
                    </div>
                    <div>
                        <div class="clickable button" id="buttonRemoveBlockChain">Remove Block Chain</div>
                    </div>
                </div>
                <div class="down" id="chainBox">
                
                </div>
            </div>
        </div>
    </div>

</body>
</html>